*{
    margin: 0;
    padding: 0;
}
body, .container {
     min-height:100vh;
     font-family: "Rubik", sans-serif;  
        
}
.container{
    display:grid;
    grid-template-areas:
    "sidebar header"
    "sidebar content";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 2fr 9fr;
     color:#3b3a3a;
}

.sidebar{
    grid-area: sidebar;
    background: #b3e5fc;
   
}
.header{
    grid-area: header;
    padding:2rem;
    border:1px solid black;
  
}


.header{
    display: flex;

}
.content{
    grid-area: content;
    background: #fdfaf8;
    color: #f68981;
}

h1{
    font-size: 4rem;
    margin-right: 10rem;
}
button{  
    border-radius:1.5rem;
    cursor: pointer;
    background: url("./img/plus.svg");
    padding: 10px 15px 10px 50px;
    background-position: 1rem;
    background-repeat: no-repeat;
    background-size: 1.7rem;
    text-align: left;
    margin-top:1rem;
    margin-left: 15rem;
   

}
button:hover{
     background-color: #a8e6cf;
     border: none;
     color: black;
     filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(200deg) brightness(103%) contrast(101%);
}
.header{
    display: flex;
    justify-content: space-around;

}
.inner-row{
    display: flex;
    padding: 0.6rem;
   justify-content: space-around;
    border:1px solid black;
    background-color: grey;
    color: #fff4e6;
    border-radius: 1rem;
   
}
/*add an html and css for a modal of add books*/